.navbar-top-bg{
  background-color: orangered !important;
}

.navbar-bg{
  background-color: rgb(238, 95, 43) !important;
}

body{
 background-color: cornsilk !important ;
}

.navbar-expand-lg{
  background-color:  bisque !important;
}